<h1>SEE a BEE</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Bee-apis.jpg" alt="BUZZ BUZZ MOTHERFUCKER" />
<a href="/">Home</a>

<div >
  <h2>{{blog_posts.title}}</h2>
  <a href="/blogEdit/{{blog_posts.id}}">Edit</a>
  <a href="/delete/{{blog_posts.id}}">Delete</a>
  <h2>BY: {{blog_posts.users_name}} {{blog_posts.date}}</h2>
  <li>{{blog_posts.body}}</li>
</div>
